{% extends 'base.html' %}
{% load static %}
{% block title %}Confirmar Entrega VSM{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<style>
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(106, 89, 45); /* color corporativo */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
</style>

<body class="justify-center">

  <div class="bg-base-300 w-full mt-10 mx-auto  max-w-3xl sm:max-w-4xl md:max-w-5xl min-h-3xl sm:min-h-4xl md:min-h-5xl p-3 sm:p-5 md:p-8 rounded-2xl shadow-xl">
    {% if tipo_entrega == "INSUMOS" %}
    <h1 class="text-3xl font-semibold text-center mt-0">Confirmar Entrega de VSM</h1>
    {% elif tipo_entrega == "EPP" %}
    <h1 class="text-3xl font-semibold text-center mt-0">Confirmar Entrega de EPP</h1>
    {% endif %} 

    <form action="{% url 'confirmar_entrega' vsm.id %}" method="post" class="space-y-4" id="formEntrega">
      {% csrf_token %}
      
      <div class="grid grid-cols-2 gap-4">
        <p class="bg-base-300 p-4 rounded-2xl"><span class="text-base-200 font-extrabold">Solicitante:</span> {{ vsm.solicitante }}</p>
        <p class="bg-base-300 p-4 rounded-2xl"><span class="text-base-200 font-extrabold">Retirante:</span> {{ vsm.retirante }}</p>
      </div>

      <table class="w-full text-sm border border-gray-600 rounded-lg overflow-hidden bg-base-100">
        <thead>
          <tr>
            <th class="text-left px-4 py-2">Producto</th>
            <th class="text-left px-4 py-2 text-center">Cantidad Solicitada</th>
            <th class="text-center px-4 py-2">Cantidad Entregada</th>
          </tr>
        </thead>
        <tbody>
          {% for vsm_producto in vsm.vsmproducto_set.all %}
          <tr class="border-b border-gray-700">
            <td class="px-4 py-3">{{ vsm_producto.producto }}</td>
            <td class="px-4 py-3 text-center">{{ vsm_producto.cantidad_solicitada }}</td>
            {% if vsm.estado == "pendiente" %}
            <td class="px-4 py-3 text-center">
              <input type="number" 
                     name="cantidad_entregada_{{ vsm_producto.id }}" 
                     value="{{ vsm_producto.cantidad_entregada }}"
                     min="0" 
                     max="{{ vsm_producto.cantidad_solicitada }}" 
                     class="w-24 border border-zinc-700 rounded-xl px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[var(--detalle-dorado)]"
                     id="cantEntregada">
                     
            </td>
            {% else %}
            <td class="px-4 py-3">{{ vsm_producto.cantidad_entregada }}</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="p-4 rounded-2xl">
        <label for="observaciones_entrega" class="block text-sm font-medium text-[var(--detalle-dorado)] mb-1">Observaciones</label>
        <textarea name="observaciones_entrega" id="observaciones_entrega" rows="3" class="w-full border border-zinc-700 rounded-xl px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[var(--detalle-dorado)]"></textarea>
      </div>

      <div class="flex items-center gap-4">
        {% if vsm.estado == "pendiente" %}
        {% if vsm.tipo_entrega == 'EPP' %}
        <button type="button" id="abrirFirmaBtn"
                class="btn btn-primary px-6 py-2 rounded-xl font-medium text-sm">
          Confirmar Entrega
        </button>
        {% endif %}
        
        {% if vsm.tipo_entrega == 'INSUMOS' %}
        <button type="button" id="btnAbrirModal"
                class="btn btn-primary px-6 py-2 rounded-xl font-medium text-sm">
          Confirmar Entrega
        </button>
        {% endif %}

        <a href="{% url 'rechazar_entrega' vsm.id %}">
          <button type="button" id="btnRechazar" class="btn btn-danger px-6 py-2 rounded-xl font-medium text-sm">
            Rechazar entrega
          </button>
        </a>
        {% endif %}

        <a href="{% url 'listar_vsm_pendientes' %}" class="btn btn-secondary px-6 py-2 rounded-xl font-medium text-sm">
          Volver a Vales Pendientes
        </a>
      </div>
    </form>
  </div>

{% if vsm.tipo_entrega == 'INSUMOS' %}
<div id="modalRFID" class="hidden fixed inset-0 bg-black bg-opacity-90 flex items-center justify-center z-50">
  <div class="bg-base-300 p-6 rounded-2xl shadow-lg w-96 text-center">
    <h2 class="text-lg font-semibold mb-4">Confirmar Retiro</h2>
    <p class="text-gray-300 mb-6">Por favor, apoye la tarjeta del retirante en el lector para continuar.</p>
    <div class="flex justify-center space-x-4">
      <button id="btnCancelarRFID"
              class="px-4 py-2 rounded-xl bg-gray-600 hover:bg-gray-700 text-white">
        Cancelar
      </button>
    </div>
  </div>
</div>
{% endif %}

{% if vsm.tipo_entrega == 'EPP' %}

  <div id="modalFirma" class="hidden fixed inset-0 bg-black bg-opacity-70 flex items-center justify-center z-50">
    <div class="bg-white rounded-2xl p-6 relative">
      <h2 class="text-lg font-semibold mb-4 text-center text-black">Firma del Empleado</h2>

      <canvas id="signatureCanvas" width="800" height="480"></canvas>

      <div class="flex justify-center mt-5 space-x-3">
        <button id="guardarFirmaBtn" class="bg-green-600 text-white px-4 py-2 rounded-lg hover:bg-green-700">
          Guardar Firma
        </button>
        <button id="cancelarFirmaBtn" class="bg-gray-400 text-white px-4 py-2 rounded-lg hover:bg-gray-500">
          Cancelar
        </button>
      </div>

      <button id="cerrarModalFirma" class="absolute top-3 right-4 text-gray-500 hover:text-black text-2xl">&times;</button>
    </div>
  </div>

{% endif %}





<div id="toast-container" class="fixed top-4 right-4 space-y-2 z-50"></div>

<div id="loaderOverlay" class="fixed inset-0 bg-base-300 bg-opacity-50 flex items-center justify-center hidden z-50">
  <div class="bg-white text-black px-6 py-4 rounded-lg flex flex-col items-center shadow-lg">
    <span class="loader mb-3"></span>
    <p class="text-lg font-semibold">Procesando entrega, por favor espere...</p>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  const forms = document.querySelectorAll('form');

  forms.forEach(form => {
    form.addEventListener('keydown', function(e) {
      if (e.key === "Enter") {
        e.preventDefault();
      }
    });
  });
});
</script>


<script src="{% static 'js/wacomstu540.js' %}"></script>
<script src="{% static 'js/signature-handler.js' %}"></script>
<script src="{% static 'js/on-scan.js' %}"></script>

{% if vsm.tipo_entrega == 'INSUMOS' %}
<script>
const btnAbrirModal = document.getElementById("btnAbrirModal");
const btnCancelarRFID = document.getElementById("btnCancelarRFID");
const modalRFID = document.getElementById("modalRFID");
const form = document.getElementById("formEntrega");
const tarjetasEsperadas = {{ tarjetas_json|safe }};

let esperandoScan = false;

btnAbrirModal.addEventListener("click", () => {
  modalRFID.classList.remove("hidden");
  esperandoScan = true;
});

btnCancelarRFID.addEventListener("click", () => {
  modalRFID.classList.add("hidden");
  esperandoScan = false;
});

function mostrarLoader() {
  document.getElementById("loaderOverlay").classList.remove("hidden");
}

function ocultarLoader() {
  document.getElementById("loaderOverlay").classList.add("hidden");
}


onScan.attachTo(document, {
  suffixKeyCodes: [13],
  reactToPaste: true,
  onScan: function (scannedCode) {
    console.log("Código escaneado:", scannedCode);
    console.log("Tarjetas válidas:", tarjetasEsperadas);

    if (esperandoScan) {
      if (tarjetasEsperadas.includes(scannedCode)) {
        modalRFID.classList.add("hidden");

        const formData = new FormData(form);

        mostrarLoader();

        fetch(form.action, {
          method: "POST",
          body: formData,
          headers: { "X-Requested-With": "XMLHttpRequest" }
        })
        .then(res => res.json())
        .then(data => {
          ocultarLoader();
          if (data.success) {
            showToast("Entrega guardada correctamente ✅", "success");
            btnAbrirModal.disabled = true;

            document.getElementById("btnAbrirModal").disabled = true;
            document.getElementById("btnAbrirModal").hidden = true;
            document.getElementById("btnRechazar").disabled = true;
            document.getElementById("btnRechazar").hidden = true;

            document.getElementById("cantEntregada").disabled = true;
            
            document.getElementById("btnAbrirModal").classList.add("opacity-50", "cursor-not-allowed");
            document.getElementById("btnRechazar").classList.add("opacity-50", "cursor-not-allowed");

          } else {
            // Mostrar el mensaje real de error que vino desde Django
            const mensajeError = data.error || "Error al guardar entrega ❌";
            showToast(`Error al guardar entrega ❌\n${mensajeError}`, "error");
          }
        })
        .catch((error) => {
          console.error("Error en fetch:", error);
          showToast("Error de conexión con el servidor ❌", "error");
        });
          }
      esperandoScan = false;
    }
  }
});
</script>
{% endif %}



<script>
  function showToast(message, type = "success") {
    const container = document.getElementById("toast-container");

    const toast = document.createElement("div");
    toast.className = `px-4 py-2 rounded-lg shadow-lg text-white 
      ${type === "success" ? "bg-green-600" : "bg-red-600"} 
      animate-fadeIn`;

    toast.innerText = message;

    container.appendChild(toast);

    setTimeout(() => {
      toast.classList.add("animate-fadeOut");
      setTimeout(() => toast.remove(), 500);
    }, 3000);
  }
</script>
</body>

{% endblock %}