<h1>Editar VSM</h1>

<form method="post">
    {% csrf_token %}
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="{{ vsm.nombre }}" required>

    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" name="descripcion" required>{{ vsm.descripcion }}</textarea>

    <label for="producto">Producto:</label>
    <select id="producto" name="producto" required>
        {% for producto in productos %}
            <option value="{{ producto.id }}"> {% if producto.id == vsm.producto.id %}selected{% endif %}>{{ producto.nombre }}</option>
        {% endfor %}
    </select>

    <button type="submit">Guardar cambios</button>
</form>
