{% extends 'base.html' %}
{% load permisos_tags %}

{% block title %}Panel Principal - VSM{% endblock %}
{% block content %}

{% include 'navbar.html' %}
  <body class="flex flex-col items-center justify-center bg-base-100">

    <div class="max-w-6xl mx-auto px-4 mt-6 sm:mt-8 lg:mt-16">
      
      <!-- Título estilizado -->
      <h1 class="text-2xl sm:text-3xl lg:text-4xl font-extrabold text-center mb-8 tracking-wide uppercase font-montserrat"> Gestión de Vales de salida de materiales <br> VSM </h1>


      {% if user.is_authenticated %}
      <div class="flex justify-center sm:mt-8 lg:mt-16 gap-6 flex-wrap">

        {% if user|has_perm:"facturado_can_create" %}
        <!-- Nuevo VSM -->
        <c-carddaisy
          title="Nuevo VSM" 
          url="{% url 'nuevo_vsm' %}" 
          description="Registrar una nueva solicitud de vale para retirar materiales.">
        </c-carddaisy>
        {% endif %}



        {% if user|has_perm:"registros_can_view" %}
        <!-- Registros -->
          <c-carddaisy 
            title="Registros" 
            url="{% url 'registros' %}" 
            description="Consultar registros pasados por fecha, solicitante o producto.">
          </c-carddaisy>
        {% endif %}

        {% if user|has_perm:"facturado_can_deliver" %}
        <!-- Pendientes -->
          <c-carddaisy
            title="Pendientes" 
            url="{% url 'listar_vsm_pendientes' %}" 
            description="Validar la entrega o recepción de vales pendientes.">
          </c-carddaisy>
        {% endif %}

      </div>
      {% else %}
      <div class="card bg-base-300 p-6 align-center mt-16 shadow-lg">
        <p class="text-center text-lg">Por favor, inicie sesión para acceder a las funcionalidades del sistema.</p>
      </div>
      {% endif %}
    </div>


  <!-- Toast Notifications -->
  {% if messages %}
    <div id="toast-container" class="fixed top-4 right-4 z-50">
      {% for message in messages %}
        <div class="mb-2 px-4 py-2 rounded-lg shadow-lg text-white
                    {% if message.tags == 'success' %} bg-green-600 {% elif message.tags == 'error' %} bg-red-600 {% else %} bg-gray-600 {% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    <script>
      setTimeout(() => {
        const toast = document.getElementById("toast-container");
        if (toast) toast.style.display = "none";
      }, 3000);
    </script>
  {% endif %}

  </body>
{% endblock %}
