{% extends 'base.html' %}
{% load static %}
{% block title %}Ver VSM{% endblock %}
{% block content %}
{% include 'navbar.html' %}

<body>
    <div class="w-full max-w-4xl rounded-2xl shadow-lg p-8 sm:p-10 md:p-12 bg-base-300 mx-auto my-10">

        <div class="flex items-center justify-between mb-6">
            <a href="{% url 'registros' %}" class="btn border p-2 rounded-md">< Volver</a>
            <h1 class="text-2xl font-bold" style="color: var(--detalle-dorado);">Ver VSM</h1>
            <span style="color: var(--detalle-dorado);"><i class="bi bi-card-list"></i></span>
        </div>
        <br>
        <div>
            <div class="flex justify-between mb-4">
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">ID VSM:</span>
                    <span>{{ vsm.id }}</span>
                </div>
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Tipo de entrega:</span>
                    <span>{{ vsm.tipo_entrega }}</span>
                </div>
            </div>
            <br>
            <div class="flex justify-between mb-4">
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Fecha Solicitud : </span>
                    <span>{{ vsm.fecha_solicitud }}</span>
                </div>
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Fecha Entrega : </span>
                    <span>
                        {% if vsm.fecha_entrega %}
                            {{ vsm.fecha_entrega }}
                        {% else %}
                            No entregado aún
                        {% endif %}
                    </span>
                </div>
            </div>
            <br>
            <div class="flex justify-between mb-4">
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Estado:</span>
                    <span>
                        {% if vsm.estado == 'entregado' %}
                            <span class="text-green-500">Entregado</span>
                        {% elif vsm.estado == 'pendiente' %}
                            <span class="text-yellow-500">Pendiente</span>
                        {% else %}
                            <span class="text-red-500">Rechazado</span>
                        {% endif %}
                    </span>   
                </div>
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Tipo de facturación:</span>
                    {% if vsm.tipo_facturacion == 'FACTURADO' %}
                        <span class="text-green-500">Facturado</span>
                    {% elif vsm.tipo_facturacion == 'NO_FACTURADO' %}
                        <span class="text-yellow-500">No Facturado</span>
                    {% else %}
                        <span class="text-red-500">Otro</span>
                    {% endif %}
                </div>
            </div>
            <br>
            <div class="flex justify-between mb-4">
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Solicitante:</span>
                    <span>{{ vsm.solicitante }}</span>
                </div>
                <div class="bg-base-200 p-2 rounded-md">
                    <span style="font-weight: bold; color: var(--detalle-dorado);">Retirante:</span>
                    <span>{{ vsm.retirante }}</span>
                </div>
            </div>
            <br>
            <div class="bg-base-200 p-2 rounded-md mb-4">
                <span style="font-weight: bold; color: var(--detalle-dorado);">Observaciones:</span>
                <span>{{ vsm.observaciones }}</span>
            </div>
            <br>
            <div>
                <span class="font-bold" style="color: var(--detalle-dorado);">Productos   <i class="bi bi-arrow-down-short"></i></span>
                <table class="table-auto w-full mt-4 text-left border border-gray-700">
                    <thead class="bg-gray-800" style="color: var(--detalle-dorado); padding: 1rem !important;">
                        <tr>
                            <th class="p-2">Nombre</th>
                            <th class="p-2">Cantidad</th>
                            <th class="p-2">Entregado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto in vsm.vsmproducto_set.all %}
                        <tr>
                            <td class="p-3">{{ producto.producto.descripcion }}</td>
                            <td class="p-3">{{ producto.cantidad_solicitada }}</td>
                            {% if producto.cantidad_entregada == 0 %}
                            <td class="text-red-500 p-3">No</td>
                            {% else %}
                            <td class="text-green-500 p-3">{{ producto.cantidad_entregada }}</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

{% endblock %}