@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss" source(none);
@source "./static/css/*.{html,js}";
@plugin "daisyui" {
  themes: night --default, light --prefers-dark;
}

.alert-success {
  border-color: var(--color-success);
  color: var(--color-success-content);
  --alert-color: var(--color-success);
}
.alert-error {
  border-color: var(--color-error);
  color: var(--color-error-content);
  --alert-color: var(--color-error);
}
.alert-warning {
  border-color: var(--color-warning);
  color: var(--color-warning-content);
  --alert-color: var(--color-warning);
}
.alert-info {
  border-color: var(--color-info);
  color: var(--color-info-content);
  --alert-color: var(--color-info);
}